PROJECT_NAME="Neurosymbolic Drug Repurposing Backend"
MONGODB_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority"
DATABASE_NAME="drug_repurposing_db"
SECRET_KEY="change_this_to_a_secure_random_string"
ACCESS_TOKEN_EXPIRE_MINUTES=10080
